@import "styles/colors";

//@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body {
  background-color: $background-color;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}