body, html, * {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  overflow-y: overlay;
}

body.no-scroll {
  height: 100vh;
  overflow: hidden;
}

::selection {
  background-color: #8569FF;
}