@import "styles/colors";

body {
  background-color: $background-color;
}

.container {
  max-width: 1160px;
  margin: 0 auto;

  &__inner {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: calc(100% - 330px - 40px);
    width: 100%;
  }
}