@import "styles/colors";

.pop-up {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: $high-emphasis;
  z-index: 999;
  visibility: hidden;
  transition: all .5s;
  opacity: 0;

  &_visible {
    visibility: visible;
    opacity: 1;
  }

  &__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(24, 26, 37, .8);
  }

  &__inner {
    max-width: fit-content;
    width: 100%;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background: $lighter;
    border-radius: 20px;
    //flex-direction: column;
    transition: all .5s;
  }

  &__header {
    display: flex;
    position: relative;
    margin-top: 20px;
  }

  &__title {
    position: absolute;
    font-size: 24px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
  }

  &_visible .pop-up__inner {
    top: 200px;
  }

  &__close-btn {
    margin-right: 15px;
    margin-left: auto;
    cursor: pointer;
    background: $tertiary;
    padding: 5px;
    border-radius: 10px;
  }
}